{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  {% if user.is_superuser %}
      You are also an administrator!<br>
      <form action="{% url 'sign_up' %}" method="post">
      <button type="submit" name="name1" value="value1">Add a user</button>
      </form>
      <br>
      
  {% endif %}
  <p><a href="{% url 'logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% endblock %}
